body {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 400px;
  width: 100%;
}

h2 {
  text-align: center;
  color: #ff5d95;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}

.line {
  display: inline-block;
  width: 80px;
  height: 1px;
  background: #ccc;
  margin: 0 10px;
  vertical-align: middle;
}

.option-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  background: white;
 
}

.option-card input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.3);
  
}

.unit {
  font-weight: bold;
  font-size: 18px;
}

.discount {
  background: #ff5d95;
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
  margin-left: 8px;
}

.price {
  float: right;
  text-align: right;
  
}

.first_price{
  display: flex;
  justify-content: space-between;
  
 
  
}

.new-price {
  font-weight: bold;
  font-size: 16px;
}

.old-price {
  font-size: 14px;
  color: #aaa;
  text-decoration: line-through;
}

.popular {
  border: 2px solid #ff5d95;
  background: #fff6f9;
}

.ribbon {
  position: absolute;
  top: -12px;
  right: -2px;
  background-color: #ff5d95;
  color: white;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: bold;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.selectors {
  margin-top: 15px;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.row span {
  width: 20px;
}

select {
  padding: 6px;
  font-size: 14px;
  width: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 16px;
}

.delivery {
  color: #ff5d95;
}

.total {
  font-weight: bold;
}

.add-cart {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  background: #ff5d95;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.powered {
  text-align: center;
  margin-top: 10px;
  color: #aaa;
  font-size: 12px;
}
